<!doctype html>
<html ng-app="todoApp">

<head>
    <meta charset="utf-8" />
    <title>Parser drawer</title>

    <script type="text/javascript">
        mxBasePath = 'mxgraph/javascript/src';
    </script>
    <script type="text/javascript" src="mxgraph/javascript/src/js/mxClient.js"></script>

    <script src="lib/angular.min.js"></script>
    <script src="lib/ui-bootstrap-tpls-2.4.0.min.js"></script>
    <script src="lib/angular-animate.min.js"></script>
    <script src="lib/angular-touch.min.js"></script>
    <script src="lib/ui-layout.js"></script>

    <link rel="stylesheet" href="style/bootstrap.min.css">
    <link rel="stylesheet" href="style/global.css">
    <link rel="stylesheet" href="style/ui-layout.css">
</head>

<body ng-controller="BodyController">


    <div ui-layout>
        <div ui-layout-container>
            <div ui-layout="{flow : 'column',disableToggle:true,dividerSize:5}">
                <div ui-layout-container="central">
                    <div ui-layout>
                        <div ui-layout-container>
                            <div ui-layout="{flow : 'row',disableToggle:true,dividerSize:5}">
                                <div ui-layout-container="central">
                                    <div ui-layout="{flow : 'column',disableToggle:true,dividerSize:0}">
                                        <div ui-layout-container size="50px" style="background-color:gray">
                                            <button ng-click="zoomIn()" href="">+</button>
                                            <button ng-click="zoomOut()" href="">-</button></br>
                                            <button ng-click="focusAll()" href="">All</button></br>
                                            <button ng-click="undo()" href="">Undo</button></br>
                                            <button ng-click="redo()" href="">Redo</button></br>
                                            <button ng-click="group()" href="">Group</button></br>
                                            <button ng-click="ungroup()" href="">Ungroup</button></br>
                                        </div>
                                        <div ui-layout-container="central">
                                            <div id="graph_container"></div>
                                        </div>
                                    </div>
                                </div>
                                <div ui-layout-container size="10%">ABC</div>
                            </div>
                        </div>
                    </div>
                </div>
                <div ui-layout-container size="10%">BC</div>
            </div>
        </div>
    </div>

    <script src="src/init_graph.js"></script>
    <script src="main.js"></script>
</body>

</html>